* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #000; */
  background-color: var(--bg-black);
  box-sizing: border-box;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link {
  font-family: var(--fonts-mont);
  font-size: 24px;
  font-weight: 600;
  color: var(--color-azul);
  text-decoration: none;
  transition: 0.5s ease;
}

.cabecalho__menu__link:hover {
  transform: scale(1.04);
}

.container {
  padding: 4% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .container__content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.span__cert {
  color: var(--color-azul);
}
section {
  color: var(--color-branco);
}

section .container__content__title {
  font-family: var(--fonts-krona);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

.color__blue {
  color: var(--color-azul);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

section .container__content__text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.links .links_title {
  font-family: var(--fonts-krona);
  font-size: 24px;
  font-weight: normal;
}
.links .links__a {
  font-family: var(--fonts-mont);
  font-weight: 600;
  background-color: var(--bg-black);
  border: 2px solid var(--color-azul);
  width: 378px;
  padding: 21.5px 0px;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: var(--color-branco);
  display: flex;
  justify-content: center;
  gap: 16px;
  transition: 0.5s ease;
}
.links .links__a:hover {
  background-color: #272727;
}
.links_img {
  width: 32px;
}

.profile {
  width: 480px;
  border-radius: 8px;
  margin: 40px;
}

.rodape {
  text-align: center;
  color: #000;
  background-color: #22d4fd;
  padding: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  /* position: fixed;
  left: 0;
  width: 100%;
  bottom: 0; */
}
